/include/ "system-conf.dtsi"
/ {
	chosen {
		xlnx,eeprom = &eeprom;
		bootargs= "console=ttyPS0,115200 earlycon clk_ignore_unused earlyprintk cma=256M";
	};
};

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	memory@0{
		device-type = "memory";
		reg = <0x000000000 0x00000000 0x00000000 0x80000000>;
	}; 

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		hdmi_fb_reserved_region: framebuffer@7FC00000 {
			 compatible = "removed-dma-pool";
			 //compatible = "shared-dma-pool";
			 //compatible = "xlnx,reserved-memory";
			 no-map;
			 reg = <0x0 0x7FC00000 0x0 0x400000>;
		 };
	};

	hdmi_fb: framebuffer@0x7FC00000 {	    // HDMI out
		 compatible = "simple-framebuffer";
		 reg = <0x0 0x7FC00000 0x0 (1280 * 720 * 4)>;    // 720p
		 width = <1280>;			    // 720p
		 height = <720>;			    // 720p
		 stride = <(1280 * 4)>;		    // 720p
		 format = "a8b8g8r8";
		 status = "okay";
	 };
};

// Trenz HDMI

// &hdmi_out_axi_vdma_0 {
// 	status = "disabled";
// };
// 
// &hdmi_out_v_tc_0 {
// 	//xilinx-vtc: probe of 43c20000.v_tc failed with error -2
// 	status = "disabled";
// };

// Trenz board common

/*emmc*/
&sdhci0 {
	// disable-wp;
	no-1-8-v;

};

/* SDIO */
&sdhci1 {
	status = "okay";
	disable-wp;
	no-1-8-v;
};

/* ETH PHY */
&gem3 {

	status = "okay";
	ethernet_phy0: ethernet-phy@0 {
		compatible = "marvell,88e1510";
		device_type = "ethernet-phy";
		reg = <1>;
	};
};
/* USB 2.0 */

/* USB  */
&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	/delete-property/phy-names;
	/delete-property/phys;
	/delete-property/snps,usb3_lpm_capable;
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
};

&usb0 {
	status = "okay";
	/delete-property/ clocks;
	/delete-property/ clock-names;
	clocks = <0x3 0x20>;
	clock-names = "bus_clk";
};


/* QSPI PHY */
&qspi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	flash0: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&i2c0 {
	eeprom: eeprom@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
	};
};
